appdirs==1.4.4
audioread==2.1.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
decorator==4.4.2
ffmpeg==1.4
idna==2.10
joblib==1.0.1
librosa==0.8.0
llvmlite==0.36.0
numba==0.53.1
numpy==1.20.2
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
packaging==20.9
Pillow==8.1.2
pooch==1.3.0
pycparser==2.20
pyparsing==2.4.7
requests==2.25.1
resampy==0.2.2
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
torch==1.8.1
torchvision==0.9.1
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.4


# librosa
# numpy
# opencv-contrib-python
# opencv-python
# torch
# torchvision
# tqdm
# numba
